header {
    background-color: #833AE1;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    max-width: none;
    align-items: center;

}

header div {
    display: flex;
    align-items: center;
    gap: 95px;

}

header div a {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;


}
footer {
    max-width: none;
    padding-top:27px ;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:30px ;
    
}
footer .top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    padding-bottom: 36px;
    border-bottom: 2px solid #602B7A;
    margin-bottom: 27px;

}

.baner{
       padding-top:127px ;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:145px ;
    display: flex;
    flex-direction: column;
    
}

.baner p{
     font-family: Montserrat;
    font-weight: 800;
    font-size: 45px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 43px;



}

.baner h1{
     font-family: Montserrat;
    font-weight: 600;
    font-size: 50px;
    line-height: 78px;
}

.baner a {
     font-family: Montserrat;
    font-weight: 600;
    font-size: 50px;
    line-height: 78px;
    background-color: #833AE1;
    color: #FFF;
    border-radius: 20px;
    text-decoration: none;
    margin: 0 auto;
    width: fit-content;
    padding: 0 20px;


}